<!-- <h1>HOLA MUNDO</h1>
<h2>{{titulo}}</h2>
<h4>La base es: {{base}}</h4> -->
<!-- <button (click)="numero = numero + 1;">+1</button>  -->
<!-- <button (click)="sumar()">+1</button> --> 

<!-- <button (click)="acumular(base)">+{{base}}</button> 
<h2>{{ numero }}</h2>
<button (click)="acumular(-base)">-{{base}}</button> --> 

<!-- <button (click)="restar()">-1</button> --> 
<!-- <button (click)="numero = numero - 1;">-1</button>  -->

<!-- <app-contador></app-contador>
<hr><hr>
<app-heroe></app-heroe>
<hr><hr>
<app-listado></app-listado> -->

<app-main-page></app-main-page>